@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Inter:wght@400;700&family=Miniver&family=Roboto&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    overflow-x: hidden;
    scroll-behavior: smooth;
  }
  body {
    @apply w-full h-full overflow-x-hidden text-base font-normal font-helvetica bg-dark text-white;
  }
}

@layer components {
  .container {
    @apply max-w-[1360px] w-full mx-auto px-5 lg:px-10 sm:px-5;
  }
  .btn-primary {
    @apply inline-flex justify-center items-center w-full bg-primary p-[18px] rounded-md text-white text-center font-inter outline-none duration-300 active:scale-95 hover:bg-[#be5737] sm:p-4 sm:text-sm;
  }
  .btn-primary-disable {
    @apply inline-flex justify-center items-center w-full bg-primary/50 p-[18px] rounded-md text-white text-center font-inter outline-none duration-300 active:scale-95 hover:bg-[#be5737] sm:p-4 sm:text-sm;
  }
  .title-section {
    @apply text-[48px] font-bold leading-[56px];
  }
  .subtitle-section {
    @apply text-primary font-great text-[32px] leading-[40px] mb-2 sm:text-2xl;
  }
  .paragraph-section {
    @apply font-inter sm:text-sm;
  }
  .form-label {
    @apply ml-1 mb-1 text-xs;
  }
  .form-input {
    @apply p-2 rounded-md outline-none bg-dark border border-transparent;
  }
  .form-error {
    @apply absolute -bottom-5 text-[red] text-[10px];
  }
}

.a.mapboxgl-ctrl-logo,
.mapboxgl-ctrl-bottom-left,
.mapboxgl-ctrl-bottom-right {
  display: none !important;
}

::-webkit-scrollbar {
  display: none;
  height: 0;
  width: 0;
}
